name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t devops-app .
          docker images

      - name: Test container startup
        run: |
          docker run -d -p 8080:80 --name test-container devops-app
          sleep 5
          docker ps
